body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
}
#main-container{
	margin: 150px auto;
	width: 600px;
}
table{
	background-color: white;
	width: 100%;
	text-align: left;
	border: collapse;
}
th,td{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
thead{
	background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white; 
}
tr: nth-child(odd){
	background-color: #ddd;
}
tr:hover td{
	background-color: #369681;
	color: white;
}
